# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.manifest

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db


captures/
packages/camera_vibe2k26summer/captures/
packages/camera_vibe2k26summer/configs/