# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.manifest

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db


packages/cam_introsat/cam_introsat/captures/
packages/cam_introsat/cam_introsat/core/worker.py